{% extends "bord/base.html" %}



{% block content %}
    <div class="d-flex w-100 justify-content-between">
        <h3>Архів</h3>
        <h4>Кількість архівних об'єктів: {{ subjects_count }}</h4>
    </div>

    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1066.4px;">
        {% for subject in subjects %}
            {% if subject.archived %}
            <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 524.2px;">
              <div class="card" style="background-color: {{ subject.get_priority }};">

                <div class="card-body">

                      <div class="dropdown">
                          <h5 class="card-title text-center mb-0">
                              <a href="{% url 'bord:subject' subject.id %}">{{ subject }}</a>
                          <button class="btn btn-secondary rounded-pill" style="font-size: 11px; padding: 3px 5px; border-radius: 2px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ subject.get_type_display }}
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'bord:change_priority' subject.id 'AA' %}">Високий</a></li>
                            <li><a class="dropdown-item" href="{% url 'bord:change_priority' subject.id 'BB' %}">Середній</a></li>
                            <li><a class="dropdown-item" href="{% url 'bord:change_priority' subject.id 'CC' %}">Низький</a></li>
                          </ul>
                        </div>
                      </h5>
                    <p class="card-text text-center mt-0"><small class="">{{ subject.invent_number }}</small></p>
                  <p class="card-text ">{{ subject.address }}</p>
                    <div class="text-center" >

                         <a class="btn btn-success" href="{% url 'bord:add_to_archive' subject.id %}"><svg class="bi" width="24" height="24"><use xlink:href="#i-archive"></use></svg></a>
                    </div>

                  <span class="card-text"><small class="text-muted">{{ subject.date_added|date:'d.m.Y' }}</small></span>
                </div>
              </div>
            </div>
          {% endif %}
        {% empty %}
            <p>Нема роботи</p>
        {% endfor %}
    </div>


{% endblock content %}

