{% extends "bord/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="d-flex w-100 justify-content-between">
        <a class="btn btn-primary mb-3" href="{% url 'bord:new_subject' %}">+ Новий об'єкт</a>
        <h4>Кількість об'єктів: {{ subjects_count }}</h4>
        <button type="button" class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <svg class="bi" width="32" height="32"><use xlink:href="#i-filter"></use></svg>
            <span class="badge bg-danger" id="filter-badge" style="display: none;"></span>
        </button>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Фільтри</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="container">
          <form method="get">
            {% crispy filter_form %}
          </form>
        </div>
      </div>
    </div>


 <div id="subject-list">
    {% include "bord/partials/subject_list.html" %}
</div>


    <!-- Модальне вікно статусу -->
    <div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="statusModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="statusModalLabel">Заголовок модального вікна</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрити"></button>
          </div>
          <div class="modal-body">
            Зміст модального вікна...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            <a class="#" href="#">Save</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
