{% extends "bord/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

      <div class="row">
          <form class="form-control mt-4" action="{% url 'bord:new_task' %}" method="post" >
              <h4>Нова задача:</h4>
            {% csrf_token %}
            <div class="mb-3">
              {% bootstrap_form form %}
            </div>
              {% block buttons %}
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Доручити
                  </button>
                  <ul class="dropdown-menu">
                      {% for user in users %}
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="users" value="{{ user.id }}" id="user_{{ user.id }}">
                          <label class="form-check-label" for="user_{{ user.id }}">
                            {{ user }}
                          </label>
                        </div>
                      {% endfor %}
                  </ul>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Додати задачу</button>
              {% endblock buttons %}
          </form>
      </div>

{% endblock content %}
