{% extends "bord/base.html" %}

{% block content %}
    <h1>{{ subject }}<span class="badge bg-secondary">{{ subject.get_type_display }}</span></h1>
    <div class="form-control">
        <p> Адреса: {{ subject.address }}</p>
        <p> Ім'я замовника: {{ subject.client_name }}</p>
        <p> Номер телефону: {{ subject.client_number }}</p>
        <p> Інвентаризаційний номер: {{ subject.invent_number }}</p>
        <p> Дата створення: {{ subject.date_added|date:'d.m.Y' }}</p>
        {% if contacts %}
            <h4>Контакти:</h4>
            {% for contact in contacts %}
                <div class="form-control mb-2">
                    <p class="mb-1">Ім'я: {{ contact.contact_name }}</p>
                    <p class="mb-1">Номер: {{ contact.contact_number }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="d-flex w-100 justify-content-between">
        <a class="btn btn-primary mt-3" href="{% url 'bord:edit_subject' subject.id %}"><svg class="bi" width="16" height="16"><use xlink:href="#i-edit"></use></svg> Редагувати</a>
        {% if request.user in users %}
            <a class="btn btn-success mt-3" href="{% url 'bord:take_subject' subject.id %}">Мій об'єкт</a>
        {% else %}
            <a class="btn btn-outline-success mt-3" href="{% url 'bord:take_subject' subject.id %}">Вз'яти об'єкт</a>
        {% endif %}
    </div>
    <h4 class="mt-5">Задачі:</h4>
        {% include "bord/partials/subtask_list.html" %}
    <a class="btn btn-primary mt-3" href="{% url 'bord:new_subtask' subject.id %}">+ Додати задачу</a>

    <h4 class="mt-5">Коментарі:</h4>
    {% for comment in comments %}
        <ul class="list-group">
          <li class="list-group-item mt-2" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <p class="mb-1">{{ comment }}</p>
                <div>

                    <a href="{% url 'bord:edit_comment' comment.id %}"><svg class="bi" width="16" height="16"><use xlink:href="#i-edit"></use></svg></a>

                    <svg class="bi" width="16" height="16" data-bs-toggle="modal" data-bs-target="#deleteCommentModal{{ comment.id }}"><use xlink:href="#i-trash"></use></svg>
                <!-- deleteCommentModal -->
                    <div class="modal fade" id="deleteCommentModal{{ comment.id }}" tabindex="-1" aria-labelledby="deleteCommentModalLabel{{ comment.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteCommentModalLabel{{ comment.id }}">Видалення коментар</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Коментар буде видалено!
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                            <a class="btn btn-danger" href="{% url 'bord:delete_comment' comment.id %}">Видалити</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <small class="text-muted">{{ comment.author }}</small>
                <small>{{ comment.date_added|date:'d.m.Y H:i' }}</small>
            </div>
          </li>
        </ul>
    {% empty %}
        <p>Нема коментарів</p>
    {% endfor %}
    <a class="btn btn-primary mt-3" href="{% url 'bord:new_comment' subject.id %}">+ Додати коментар</a><br>
    <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#deleteSubjectModal">
      <svg class="bi" width="16" height="16"><use xlink:href="#i-trash"></use></svg> Видалити об'єкт
    </button>

    <!-- deleteSubjectModal -->
    <div class="modal fade" id="deleteSubjectModal" tabindex="-1" aria-labelledby="deleteSubjectModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteSubjectModalLabel">Видалення об'єкта</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Об'єкт буде видалено!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            <a class="btn btn-danger" href="{% url 'bord:delete_subject' subject.id %}">Видалити</a>
          </div>
        </div>
      </div>
    </div>





{% endblock content %}