{% extends "bord/base.html" %}

{% block content %}


 <h2 class="mt-5">Мої завдання:</h2>
    {% for task in tasks %}
        <ul class="list-group">
          <li class="list-group-item mt-2" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                {% if task.done %}
                    <div>
                      <a class="btn btn-success btn-sm" href="{% url 'bord:check_task' task.id %}"><svg class="bi" width="16" height="16"><use xlink:href="#done"></use></svg></a>
                      <del class="text-muted">{{ task.text }}</del>
                    </div>
                {% else %}
                    <div>
                      <a class="btn btn-danger btn-sm" href="{% url 'bord:check_task' task.id %}"><svg class="bi" width="16" height="16"><use xlink:href="#empty"></use></svg></a>
                      {{ task.text }}
                    </div>
                {% endif %}
                <div>
                    <span data-toggle="popover1" data-bs-trigger="hover focus" data-placement="top" data-bs-html="true" title="{{ task.users }}" data-bs-content="">
                        <svg class="bi" width="16" height="16"><use xlink:href="#i-user"></use></svg>
                    </span>
                    <a href="{% url 'bord:edit_task' task.id %}"><svg class="bi" width="16" height="16"><use xlink:href="#i-edit"></use></svg></a>
                    <svg class="bi" width="16" height="16" data-bs-toggle="modal" data-bs-target="#deleteTaskModal{{ task.id }}"><use xlink:href="#i-trash"></use></svg>
                    <!-- deleteTaskModal -->
                    <div class="modal fade" id="deleteTaskModal{{ task.id }}" tabindex="-1" aria-labelledby="deleteTaskModalLabel{{ task.id }}" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteTaskModalLabel{{ task.id }}">Видалення завдання</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Завдання буде видалено!
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                            <a class="btn btn-danger" href="{% url 'bord:delete_task' task.id %}">Видалити</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </li>
        </ul>
        {% empty %}
        <p>Нема завдань</p>
    {% endfor %}
    <a class="btn btn-primary mt-3" href="{% url 'bord:new_task' %}">+ Додати завдання</a>

    {% if subjects %}
        <h2 class="mt-5 mb-3">Інші завдання:</h2>
        {% include "bord/partials/todo_subtask_list.html" %}
    {% endif %}

{% endblock content %}